# EDA on Traffic and weather data: Sachin Kumar Singh

# 1. Importing Libraries

In [2]:
import pandas as pd

# 2. Loading the Traffic dataset

In [3]:
#loading first file
df = pd.read_csv('C:/Users/Sachin/Desktop/HAMOYE Codes/Big Project/Traffic/Data/dot_traffic_2015.txt.gz')
df

,date,day_of_data,day_of_week,direction_of_travel,direction_of_travel_name,fips_state_code,functional_classification,functional_classification_name,lane_of_travel,month_of_data,...,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400,year_of_data
0,2015-04-07,7,3,1,North,56,3R,Rural: Principal Arterial - Other,1,4,...,89,122,124,110,69,73,28,12,6,15
1,2015-09-26,26,7,7,West,21,1U,Urban: Principal Arterial - Interstate,2,9,...,1617,1669,1308,1068,928,885,798,650,613,15
2,2015-06-16,16,3,3,East,6,1U,Urban: Principal Arterial - Interstate,0,6,...,4244,4405,4609,4361,3272,2243,2050,1453,892,15
3,2015-04-26,26,1,5,South,55,1U,Urban: Principal Arterial - Interstate,1,4,...,1011,959,851,708,559,457,297,207,110,15
4,2015-05-23,23,7,3,East,4,4R,Rural: Minor Arterial,0,5,...,83,61,55,35,29,21,23,9,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7140386,2015-01-25,25,1,5,South,41,4R,Rural: Minor Arterial,0,1,...,63,61,50,48,37,16,17,5,4,15
7140387,2015-10-08,8,5,7,West,53,1U,Urban: Principal Arterial - Interstate,2,10,...,871,986,970,534,347,209,141,80,57,15
7140388,2015-05-25,25,2,3,East,15,1U,Urban: Principal Arterial - Interstate,5,5,...,609,621,560,485,340,307,272,152,110,15
7140389,2015-10-07,7,4,3,East,48,1U,Urban: Principal Arterial - Interstate,0,10,...,7059,6286,4962,6293,4786,3295,2764,2148,1175,15
7140390,2015-04-29,29,4,1,North,19,3R,Rural: Principal Arterial - Other,1,4,...,142,224,226,167,96,93,63,30,15,15

In [4]:
df.head()

,date,day_of_data,day_of_week,direction_of_travel,direction_of_travel_name,fips_state_code,functional_classification,functional_classification_name,lane_of_travel,month_of_data,...,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400,year_of_data
0,2015-04-07,7,3,1,North,56,3R,Rural: Principal Arterial - Other,1,4,...,89,122,124,110,69,73,28,12,6,15
1,2015-09-26,26,7,7,West,21,1U,Urban: Principal Arterial - Interstate,2,9,...,1617,1669,1308,1068,928,885,798,650,613,15
2,2015-06-16,16,3,3,East,6,1U,Urban: Principal Arterial - Interstate,0,6,...,4244,4405,4609,4361,3272,2243,2050,1453,892,15
3,2015-04-26,26,1,5,South,55,1U,Urban: Principal Arterial - Interstate,1,4,...,1011,959,851,708,559,457,297,207,110,15
4,2015-05-23,23,7,3,East,4,4R,Rural: Minor Arterial,0,5,...,83,61,55,35,29,21,23,9,7,15

# 3. Looking the whole data

In [6]:
df.shape

(7140391, 38)

In [9]:
df.columns

Index(['date', 'day_of_data', 'day_of_week', 'direction_of_travel',
       'direction_of_travel_name', 'fips_state_code',
       'functional_classification', 'functional_classification_name',
       'lane_of_travel', 'month_of_data', 'record_type', 'restrictions',
       'station_id', 'traffic_volume_counted_after_0000_to_0100',
       'traffic_volume_counted_after_0100_to_0200',
       'traffic_volume_counted_after_0200_to_0300',
       'traffic_volume_counted_after_0300_to_0400',
       'traffic_volume_counted_after_0400_to_0500',
       'traffic_volume_counted_after_0500_to_0600',
       'traffic_volume_counted_after_0600_to_0700',
       'traffic_volume_counted_after_0700_to_0800',
       'traffic_volume_counted_after_0800_to_0900',
       'traffic_volume_counted_after_0900_to_1000',
       'traffic_volume_counted_after_1000_to_1100',
       'traffic_volume_counted_after_1100_to_1200',
       'traffic_volume_counted_after_1200_to_1300',
       'traffic_volume_counted_after_1300_to_1400',
       'traffic_volume_counted_after_1400_to_1500',
       'traffic_volume_counted_after_1500_to_1600',
       'traffic_volume_counted_after_1600_to_1700',
       'traffic_volume_counted_after_1700_to_1800',
       'traffic_volume_counted_after_1800_to_1900',
       'traffic_volume_counted_after_1900_to_2000',
       'traffic_volume_counted_after_2000_to_2100',
       'traffic_volume_counted_after_2100_to_2200',
       'traffic_volume_counted_after_2200_to_2300',
       'traffic_volume_counted_after_2300_to_2400', 'year_of_data'],
      dtype='object')

In [10]:
df.nunique()#to see unique values in each column

date                                           365
day_of_data                                     31
day_of_week                                      7
direction_of_travel                             10
direction_of_travel_name                        10
fips_state_code                                 51
functional_classification                       12
functional_classification_name                  12
lane_of_travel                                  10
month_of_data                                   12
record_type                                      1
restrictions                                     0
station_id                                    5142
traffic_volume_counted_after_0000_to_0100     5031
traffic_volume_counted_after_0100_to_0200     4161
traffic_volume_counted_after_0200_to_0300     3788
traffic_volume_counted_after_0300_to_0400     3975
traffic_volume_counted_after_0400_to_0500     7020
traffic_volume_counted_after_0500_to_0600     9775
traffic_volume_counted_after_0600_to_0700    10996
traffic_volume_counted_after_0700_to_0800    11597
traffic_volume_counted_after_0800_to_0900    11040
traffic_volume_counted_after_0900_to_1000    10352
traffic_volume_counted_after_1000_to_1100     9977
traffic_volume_counted_after_1100_to_1200    10187
traffic_volume_counted_after_1200_to_1300    10450
traffic_volume_counted_after_1300_to_1400    10754
traffic_volume_counted_after_1400_to_1500    11386
traffic_volume_counted_after_1500_to_1600    11668
traffic_volume_counted_after_1600_to_1700    11834
traffic_volume_counted_after_1700_to_1800    11733
traffic_volume_counted_after_1800_to_1900    10638
traffic_volume_counted_after_1900_to_2000     9551
traffic_volume_counted_after_2000_to_2100     8575
traffic_volume_counted_after_2100_to_2200     8109
traffic_volume_counted_after_2200_to_2300     7732
traffic_volume_counted_after_2300_to_2400     6625
year_of_data                                     1
dtype: int64

In [22]:
df['functional_classification_name'].unique()#to see unique values in the column of functional_classification_name

array(['Rural: Principal Arterial - Other',
       'Urban: Principal Arterial - Interstate', 'Rural: Minor Arterial',
       'Urban: Principal Arterial - Other Freeways or Expressways',
       'Urban: Principal Arterial - Other', 'Urban: Minor Arterial',
       'Rural: Principal Arterial - Interstate', 'Rural: Major Collector',
       'Rural: Minor Collector', 'Urban: Collector',
       'Rural: Local System', 'Urban: Local System'], dtype=object)

# 4. Data Cleaning- Traffic Data

In [12]:
df.isnull().sum()

date                                               0
day_of_data                                        0
day_of_week                                        0
direction_of_travel                                0
direction_of_travel_name                           0
fips_state_code                                    0
functional_classification                          0
functional_classification_name                     0
lane_of_travel                                     0
month_of_data                                      0
record_type                                        0
restrictions                                 7140391
station_id                                         0
traffic_volume_counted_after_0000_to_0100          0
traffic_volume_counted_after_0100_to_0200          0
traffic_volume_counted_after_0200_to_0300          0
traffic_volume_counted_after_0300_to_0400          0
traffic_volume_counted_after_0400_to_0500          0
traffic_volume_counted_after_0500_to_0600          0
traffic_volume_counted_after_0600_to_0700          0
traffic_volume_counted_after_0700_to_0800          0
traffic_volume_counted_after_0800_to_0900          0
traffic_volume_counted_after_0900_to_1000          0
traffic_volume_counted_after_1000_to_1100          0
traffic_volume_counted_after_1100_to_1200          0
traffic_volume_counted_after_1200_to_1300          0
traffic_volume_counted_after_1300_to_1400          0
traffic_volume_counted_after_1400_to_1500          0
traffic_volume_counted_after_1500_to_1600          0
traffic_volume_counted_after_1600_to_1700          0
traffic_volume_counted_after_1700_to_1800          0
traffic_volume_counted_after_1800_to_1900          0
traffic_volume_counted_after_1900_to_2000          0
traffic_volume_counted_after_2000_to_2100          0
traffic_volume_counted_after_2100_to_2200          0
traffic_volume_counted_after_2200_to_2300          0
traffic_volume_counted_after_2300_to_2400          0
year_of_data                                       0
dtype: int64

We can drop the restrictions column as it does not contain any value

In [16]:
df2=df.drop(['restrictions'],axis=1)
df2.head()

,date,day_of_data,day_of_week,direction_of_travel,direction_of_travel_name,fips_state_code,functional_classification,functional_classification_name,lane_of_travel,month_of_data,...,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400,year_of_data
0,2015-04-07,7,3,1,North,56,3R,Rural: Principal Arterial - Other,1,4,...,89,122,124,110,69,73,28,12,6,15
1,2015-09-26,26,7,7,West,21,1U,Urban: Principal Arterial - Interstate,2,9,...,1617,1669,1308,1068,928,885,798,650,613,15
2,2015-06-16,16,3,3,East,6,1U,Urban: Principal Arterial - Interstate,0,6,...,4244,4405,4609,4361,3272,2243,2050,1453,892,15
3,2015-04-26,26,1,5,South,55,1U,Urban: Principal Arterial - Interstate,1,4,...,1011,959,851,708,559,457,297,207,110,15
4,2015-05-23,23,7,3,East,4,4R,Rural: Minor Arterial,0,5,...,83,61,55,35,29,21,23,9,7,15

In [13]:
df.info()#gives info about the datatype of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7140391 entries, 0 to 7140390
Data columns (total 38 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   date                                       object
 1   day_of_data                                int64
 2   day_of_week                                int64
 3   direction_of_travel                        int64
 4   direction_of_travel_name                   object
 5   fips_state_code                            int64
 6   functional_classification                  object
 7   functional_classification_name             object
 8   lane_of_travel                             int64
 9   month_of_data                              int64
 10  record_type                                int64
 11  restrictions                               float64
 12  station_id                                 object
 13  traffic_volume_counted_after_0000_to_0100  int64
 14  traffic_volume_counted_after_0100_to_0200  int64
 15  traffic_volume_counted_after_0200_to_0300  int64
 16  traffic_volume_counted_after_0300_to_0400  int64
 17  traffic_volume_counted_after_0400_to_0500  int64
 18  traffic_volume_counted_after_0500_to_0600  int64
 19  traffic_volume_counted_after_0600_to_0700  int64
 20  traffic_volume_counted_after_0700_to_0800  int64
 21  traffic_volume_counted_after_0800_to_0900  int64
 22  traffic_volume_counted_after_0900_to_1000  int64
 23  traffic_volume_counted_after_1000_to_1100  int64
 24  traffic_volume_counted_after_1100_to_1200  int64
 25  traffic_volume_counted_after_1200_to_1300  int64
 26  traffic_volume_counted_after_1300_to_1400  int64
 27  traffic_volume_counted_after_1400_to_1500  int64
 28  traffic_volume_counted_after_1500_to_1600  int64
 29  traffic_volume_counted_after_1600_to_1700  int64
 30  traffic_volume_counted_after_1700_to_1800  int64
 31  traffic_volume_counted_after_1800_to_1900  int64
 32  traffic_volume_counted_after_1900_to_2000  int64
 33  traffic_volume_counted_after_2000_to_2100  int64
 34  traffic_volume_counted_after_2100_to_2200  int64
 35  traffic_volume_counted_after_2200_to_2300  int64
 36  traffic_volume_counted_after_2300_to_2400  int64
 37  year_of_data                               int64
dtypes: float64(1), int64(32), object(5)
memory usage: 2.0+ GB

In [17]:
df2.isnull().sum()

date                                         0
day_of_data                                  0
day_of_week                                  0
direction_of_travel                          0
direction_of_travel_name                     0
fips_state_code                              0
functional_classification                    0
functional_classification_name               0
lane_of_travel                               0
month_of_data                                0
record_type                                  0
station_id                                   0
traffic_volume_counted_after_0000_to_0100    0
traffic_volume_counted_after_0100_to_0200    0
traffic_volume_counted_after_0200_to_0300    0
traffic_volume_counted_after_0300_to_0400    0
traffic_volume_counted_after_0400_to_0500    0
traffic_volume_counted_after_0500_to_0600    0
traffic_volume_counted_after_0600_to_0700    0
traffic_volume_counted_after_0700_to_0800    0
traffic_volume_counted_after_0800_to_0900    0
traffic_volume_counted_after_0900_to_1000    0
traffic_volume_counted_after_1000_to_1100    0
traffic_volume_counted_after_1100_to_1200    0
traffic_volume_counted_after_1200_to_1300    0
traffic_volume_counted_after_1300_to_1400    0
traffic_volume_counted_after_1400_to_1500    0
traffic_volume_counted_after_1500_to_1600    0
traffic_volume_counted_after_1600_to_1700    0
traffic_volume_counted_after_1700_to_1800    0
traffic_volume_counted_after_1800_to_1900    0
traffic_volume_counted_after_1900_to_2000    0
traffic_volume_counted_after_2000_to_2100    0
traffic_volume_counted_after_2100_to_2200    0
traffic_volume_counted_after_2200_to_2300    0
traffic_volume_counted_after_2300_to_2400    0
year_of_data                                 0
dtype: int64

In [25]:
#changing datatype of date column to date tiem as given datatype is not correct
df2['date']= pd.to_datetime(df2['date'], format='%Y-%m-%d')
df2.head()

,date,day_of_data,day_of_week,direction_of_travel,direction_of_travel_name,fips_state_code,functional_classification,functional_classification_name,lane_of_travel,month_of_data,...,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400,year_of_data
0,2015-04-07,7,3,1,North,56,3R,Rural: Principal Arterial - Other,1,4,...,89,122,124,110,69,73,28,12,6,15
1,2015-09-26,26,7,7,West,21,1U,Urban: Principal Arterial - Interstate,2,9,...,1617,1669,1308,1068,928,885,798,650,613,15
2,2015-06-16,16,3,3,East,6,1U,Urban: Principal Arterial - Interstate,0,6,...,4244,4405,4609,4361,3272,2243,2050,1453,892,15
3,2015-04-26,26,1,5,South,55,1U,Urban: Principal Arterial - Interstate,1,4,...,1011,959,851,708,559,457,297,207,110,15
4,2015-05-23,23,7,3,East,4,4R,Rural: Minor Arterial,0,5,...,83,61,55,35,29,21,23,9,7,15

# 5. Loading Station Dataset

In [46]:
#loading other file
secdf=pd.read_csv('C:/Users/Sachin/Desktop/HAMOYE Codes/Big Project/Traffic/Data/dot_traffic_stations_2015.txt.gz')
secdf

,algorithm_of_vehicle_classification,algorithm_of_vehicle_classification_name,calibration_of_weighing_system,calibration_of_weighing_system_name,classification_system_for_vehicle_classification,concurrent_route_signing,concurrent_signed_route_number,direction_of_travel,direction_of_travel_name,fips_county_code,...,sample_type_for_vehicle_classification_name,second_type_of_sensor,shrp_site_identification,station_id,station_location,type_of_sensor,type_of_sensor_name,year_of_data,year_station_discontinued,year_station_established
0,NaN,NaN,NaN,NaN,13,3,091,7,West,59,...,Station not used for Heavy Vehicle Travel Info...,N,NaN,129130,LAKEVIEW AVENUE ORA91R10.091,L,Inductance loop,15,0,97
1,NaN,NaN,NaN,NaN,13,3,099,5,South,77,...,Station not used for Heavy Vehicle Travel Info...,N,NaN,100190,LITTLE JOHN CREEK SJ9912.526,L,Inductance loop,15,0,97
2,G,Axle spacing with Scheme F modified,NaN,NaN,15,1,005,1,North,93,...,Station used for Heavy Vehicle Travel Informat...,N,NaN,022940,EDGEWOOD SIS5R22.999,P,Piezoelectric,15,0,69
3,D,Vehicle length classification,M,Moving average of the steering axle of 3S2s,13,0,NaN,5,South,35,...,Station not used for Heavy Vehicle Travel Info...,NaN,NaN,000302,I 15 12900 South M.P. 290.6,X,Radio wave,15,0,11
4,G,Axle spacing with Scheme F modified,0,NaN,14,1,000000,7,West,27,...,Station not used for Heavy Vehicle Travel Info...,NaN,NaN,W01136,E. of Franklin Rd Underpass,L,Inductance loop,15,0,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28461,NaN,NaN,NaN,NaN,1,0,00000000,3,East,127,...,NaN,N,NaN,0A6301,1.00 MILES EAST OF NC 581,L,Inductance loop,15,0,93
28462,NaN,NaN,NaN,NaN,13,0,NaN,5,South,73,...,Station not used for Heavy Vehicle Travel Info...,N,NaN,000141,0.75 Miles North of I-459,W,Microwave,15,0,11
28463,F,Axle spacing with Scheme F,NaN,NaN,15,3,00000403,5,South,121,...,Station used for Heavy Vehicle Travel Informat...,P,NaN,000195,I-85/SR403 BTWN SYLVAN RD & CL,L,Inductance loop,15,0,3
28464,F,Axle spacing with Scheme F,NaN,NaN,14,0,NaN,5,South,39,...,NaN,L,NaN,000003,2.1 mile N of CO 15 (Mahan in,P,Piezoelectric,15,0,13
28465,F,Axle spacing with Scheme F,NaN,NaN,13,0,NaN,3,East,121,...,Station used for Heavy Vehicle Travel Informat...,L,NaN,610570,AVC 92 - 1.2 mi E of US 49,P,Piezoelectric,15,0,3

In [47]:
secdf.shape

(28466, 55)

In [48]:
secdf.columns

Index(['algorithm_of_vehicle_classification',
       'algorithm_of_vehicle_classification_name',
       'calibration_of_weighing_system', 'calibration_of_weighing_system_name',
       'classification_system_for_vehicle_classification',
       'concurrent_route_signing', 'concurrent_signed_route_number',
       'direction_of_travel', 'direction_of_travel_name', 'fips_county_code',
       'fips_state_code', 'functional_classification',
       'functional_classification_name', 'hpms_sample_identifier',
       'hpms_sample_type', 'lane_of_travel', 'lane_of_travel_name', 'latitude',
       'longitude', 'lrs_identification', 'lrs_location_point',
       'method_of_data_retrieval', 'method_of_data_retrieval_name',
       'method_of_traffic_volume_counting',
       'method_of_traffic_volume_counting_name', 'method_of_truck_weighing',
       'method_of_truck_weighing_name', 'method_of_vehicle_classification',
       'method_of_vehicle_classification_name', 'national_highway_system',
       'number_of_lanes_in_direction_indicated',
       'number_of_lanes_monitored_for_traffic_volume',
       'number_of_lanes_monitored_for_truck_weight',
       'number_of_lanes_monitored_for_vehicle_class', 'posted_route_signing',
       'posted_signed_route_number', 'previous_station_id', 'primary_purpose',
       'primary_purpose_name', 'record_type', 'sample_type_for_traffic_volume',
       'sample_type_for_traffic_volume_name', 'sample_type_for_truck_weight',
       'sample_type_for_truck_weight_name',
       'sample_type_for_vehicle_classification',
       'sample_type_for_vehicle_classification_name', 'second_type_of_sensor',
       'shrp_site_identification', 'station_id', 'station_location',
       'type_of_sensor', 'type_of_sensor_name', 'year_of_data',
       'year_station_discontinued', 'year_station_established'],
      dtype='object')

In [49]:
secdf.isnull().sum()

algorithm_of_vehicle_classification                  9890
algorithm_of_vehicle_classification_name            11131
calibration_of_weighing_system                      20301
calibration_of_weighing_system_name                 21785
classification_system_for_vehicle_classification        0
concurrent_route_signing                                0
concurrent_signed_route_number                      14874
direction_of_travel                                     0
direction_of_travel_name                                0
fips_county_code                                        0
fips_state_code                                         0
functional_classification                               0
functional_classification_name                          0
hpms_sample_identifier                              15248
hpms_sample_type                                        0
lane_of_travel                                          0
lane_of_travel_name                                     0
latitude                                                1
longitude                                               1
lrs_identification                                   5516
lrs_location_point                                   8999
method_of_data_retrieval                                0
method_of_data_retrieval_name                         440
method_of_traffic_volume_counting                       0
method_of_traffic_volume_counting_name                880
method_of_truck_weighing                                0
method_of_truck_weighing_name                       22580
method_of_vehicle_classification                        0
method_of_vehicle_classification_name               11180
national_highway_system                                 0
number_of_lanes_in_direction_indicated                  0
number_of_lanes_monitored_for_traffic_volume            0
number_of_lanes_monitored_for_truck_weight              0
number_of_lanes_monitored_for_vehicle_class             0
posted_route_signing                                    0
posted_signed_route_number                            794
previous_station_id                                 22511
primary_purpose                                       210
primary_purpose_name                                  648
record_type                                             0
sample_type_for_traffic_volume                        812
sample_type_for_traffic_volume_name                  1050
sample_type_for_truck_weight                        12062
sample_type_for_truck_weight_name                   12812
sample_type_for_vehicle_classification               3487
sample_type_for_vehicle_classification_name          4414
second_type_of_sensor                                5736
shrp_site_identification                            24413
station_id                                              0
station_location                                       37
type_of_sensor                                        352
type_of_sensor_name                                   352
year_of_data                                            0
year_station_discontinued                               0
year_station_established                                0
dtype: int64

In [50]:
# we are dropping the columns with more than 60% NULL values
#as they will not be able to contribute in the dataset and will reduce the model accuracy
secdf.drop(['concurrent_signed_route_number', 'hpms_sample_identifier', 
                         'lrs_identification', 'lrs_location_point', 
                         'shrp_site_identification'], axis = 1, inplace=True)

In [52]:
# here we are only dropping the rows which contains the null values in 'latitude', 'longitude',
#'station_location' because they contain 
# significatly less null values and are useful columns.
secdf.dropna(subset=['latitude', 'longitude', 'station_location'], inplace=True)
secdf.reset_index(inplace=True, drop=True)

In [53]:
#mean of traffic station data
secdf.isnull().mean()

algorithm_of_vehicle_classification                 0.347580
algorithm_of_vehicle_classification_name            0.390847
calibration_of_weighing_system                      0.713170
calibration_of_weighing_system_name                 0.764985
classification_system_for_vehicle_classification    0.000000
concurrent_route_signing                            0.000000
direction_of_travel                                 0.000000
direction_of_travel_name                            0.000000
fips_county_code                                    0.000000
fips_state_code                                     0.000000
functional_classification                           0.000000
functional_classification_name                      0.000000
hpms_sample_type                                    0.000000
lane_of_travel                                      0.000000
lane_of_travel_name                                 0.000000
latitude                                            0.000000
longitude                                           0.000000
method_of_data_retrieval                            0.000000
method_of_data_retrieval_name                       0.015478
method_of_traffic_volume_counting                   0.000000
method_of_traffic_volume_counting_name              0.030639
method_of_truck_weighing                            0.000000
method_of_truck_weighing_name                       0.792951
method_of_vehicle_classification                    0.000000
method_of_vehicle_classification_name               0.392606
national_highway_system                             0.000000
number_of_lanes_in_direction_indicated              0.000000
number_of_lanes_monitored_for_traffic_volume        0.000000
number_of_lanes_monitored_for_truck_weight          0.000000
number_of_lanes_monitored_for_vehicle_class         0.000000
posted_route_signing                                0.000000
posted_signed_route_number                          0.027790
previous_station_id                                 0.790664
primary_purpose                                     0.007387
primary_purpose_name                                0.022794
record_type                                         0.000000
sample_type_for_traffic_volume                      0.028317
sample_type_for_traffic_volume_name                 0.036689
sample_type_for_truck_weight                        0.423983
sample_type_for_truck_weight_name                   0.449979
sample_type_for_vehicle_classification              0.122415
sample_type_for_vehicle_classification_name         0.154636
second_type_of_sensor                               0.201140
station_id                                          0.000000
station_location                                    0.000000
type_of_sensor                                      0.012382
type_of_sensor_name                                 0.012382
year_of_data                                        0.000000
year_station_discontinued                           0.000000
year_station_established                            0.000000
dtype: float64

In [55]:
secdf.shape#again checking the shape

(28428, 50)

# 6. EDA - TRAFFIC DATA (Feature Engineering)

In [56]:
variables = ['traffic_volume_counted_after_0000_to_0100', 'traffic_volume_counted_after_0100_to_0200', 'traffic_volume_counted_after_0200_to_0300',
            'traffic_volume_counted_after_0300_to_0400', 'traffic_volume_counted_after_0400_to_0500', 'traffic_volume_counted_after_0500_to_0600',
             'traffic_volume_counted_after_0600_to_0700', 'traffic_volume_counted_after_0700_to_0800', 'traffic_volume_counted_after_0800_to_0900',
             'traffic_volume_counted_after_0900_to_1000', 'traffic_volume_counted_after_1000_to_1100', 'traffic_volume_counted_after_1100_to_1200',
             'traffic_volume_counted_after_1200_to_1300', 'traffic_volume_counted_after_1300_to_1400', 'traffic_volume_counted_after_1400_to_1500',
             'traffic_volume_counted_after_1500_to_1600', 'traffic_volume_counted_after_1600_to_1700', 'traffic_volume_counted_after_1700_to_1800',
             'traffic_volume_counted_after_1800_to_1900', 'traffic_volume_counted_after_1900_to_2000', 'traffic_volume_counted_after_2000_to_2100',
             'traffic_volume_counted_after_2100_to_2200', 'traffic_volume_counted_after_2200_to_2300', 'traffic_volume_counted_after_2300_to_2400']

# we will be starting by correcting the datatype of all the time-slots that are given to us,
#so that we will be able to sum them up very easily.
df2[variables] = df2[variables].astype(float).astype(int)

Here we are merging the time-slots in the bucket of 4 hours so that instead of dealing with 24 hours we will only have to deal with more accurate and less data.

In [57]:
till_4 = ['traffic_volume_counted_after_0000_to_0100', 'traffic_volume_counted_after_0100_to_0200', 'traffic_volume_counted_after_0200_to_0300',
         'traffic_volume_counted_after_0300_to_0400']
till_8 = ['traffic_volume_counted_after_0400_to_0500', 'traffic_volume_counted_after_0500_to_0600','traffic_volume_counted_after_0600_to_0700',
         'traffic_volume_counted_after_0700_to_0800']
till_12 = ['traffic_volume_counted_after_0800_to_0900','traffic_volume_counted_after_0900_to_1000', 'traffic_volume_counted_after_1000_to_1100',
          'traffic_volume_counted_after_1100_to_1200']
till_16 = ['traffic_volume_counted_after_1200_to_1300', 'traffic_volume_counted_after_1300_to_1400', 'traffic_volume_counted_after_1400_to_1500',
            'traffic_volume_counted_after_1500_to_1600']
till_20 = ['traffic_volume_counted_after_1600_to_1700', 'traffic_volume_counted_after_1700_to_1800','traffic_volume_counted_after_1800_to_1900',
           'traffic_volume_counted_after_1900_to_2000']
till_24 = ['traffic_volume_counted_after_2000_to_2100','traffic_volume_counted_after_2100_to_2200', 'traffic_volume_counted_after_2200_to_2300',
           'traffic_volume_counted_after_2300_to_2400']

# Here we are summing up the data of 4 hours and creating
#the new column with the new data that we have got after summing up.

df2['1_to_4'] = df2[till_4].sum(axis=1, numeric_only= True)
df2['5_to_8'] = df2[till_8].sum(axis=1, numeric_only= True)
df2['9_to_12'] = df2[till_12].sum(axis=1, numeric_only= True)
df2['13_to_16'] = df2[till_16].sum(axis=1, numeric_only= True)
df2['17_to_20'] = df2[till_20].sum(axis=1, numeric_only= True)
df2['21_to_24'] = df2[till_24].sum(axis=1, numeric_only= True)

In [ ]:
# here we are dropping the columns named 'year_of_data', 'record_type' because they have only one value throughout the data which will affect our model accuracy.
traffic_df.drop(variables, axis = 1, inplace=True)
traffic_df.drop(['year_of_data', 'record_type'], axis = 1, inplace=True)
traffic_df.head()