In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
city = pd.read_csv("city_attributes.csv")
pressure = pd.read_csv("pressure.csv")
humidity = pd.read_csv("humidity.csv")
temperature = pd.read_csv("temperature.csv")
weather = pd.read_csv("weather_description.csv")
wind_dir = pd.read_csv("wind_direction.csv")
wind_speed = pd.read_csv("wind_speed.csv")

In [4]:
city.head()

            City        Country   Latitude   Longitude
0      Vancouver         Canada  49.249660 -123.119339
1       Portland  United States  45.523449 -122.676208
2  San Francisco  United States  37.774929 -122.419418
3        Seattle  United States  47.606209 -122.332069
4    Los Angeles  United States  34.052231 -118.243683

In [5]:
city['City'].unique()

array(['Vancouver', 'Portland', 'San Francisco', 'Seattle', 'Los Angeles',
       'San Diego', 'Las Vegas', 'Phoenix', 'Albuquerque', 'Denver',
       'San Antonio', 'Dallas', 'Houston', 'Kansas City', 'Minneapolis',
       'Saint Louis', 'Chicago', 'Nashville', 'Indianapolis', 'Atlanta',
       'Detroit', 'Jacksonville', 'Charlotte', 'Miami', 'Pittsburgh',
       'Toronto', 'Philadelphia', 'New York', 'Montreal', 'Boston',
       'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa', 'Nahariyya',
       'Jerusalem'], dtype=object)

## Creating new datasets and feature modelling

### Chicago

In [6]:
Chicago = (pressure[['datetime', 'Chicago']].merge(humidity[['datetime', 'Chicago']], on = 'datetime')
           .merge(temperature[['datetime', 'Chicago']], on = 'datetime').merge(weather[['datetime', 'Chicago']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Chicago']], on = 'datetime'))

In [7]:
Chicago.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Chicago.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1014.0,71.0,284.010000,overcast clouds,0.0,0.0
2,2012-10-01 14:00:00,1014.0,70.0,284.054691,overcast clouds,0.0,0.0
3,2012-10-01 15:00:00,1014.0,70.0,284.177412,overcast clouds,0.0,0.0
4,2012-10-01 16:00:00,1014.0,70.0,284.300133,overcast clouds,0.0,0.0

In [8]:
for i in Chicago[Chicago['weather'] != 'sky is clear']['weather'].unique():
     Chicago[Chicago['weather'] != 'sky is clear'] = Chicago[Chicago['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [9]:
Chicago['weather'].value_counts()

sky is not clear    34409
sky is clear        10844
Name: weather, dtype: int64

In [153]:
compression_opts = dict(method='zip', archive_name='Chicago.csv')  
Chicago.to_csv('Chicago.zip', index = False, compression = compression_opts)

### Vancouver

In [10]:
Vancouver = (pressure[['datetime', 'Vancouver']].merge(humidity[['datetime', 'Vancouver']], on = 'datetime')
           .merge(temperature[['datetime', 'Vancouver']], on = 'datetime').merge(weather[['datetime', 'Vancouver']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Vancouver']], on = 'datetime'))

In [11]:
Vancouver.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Vancouver.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,NaN,76.0,284.630000,mist,0.0,0.0
2,2012-10-01 14:00:00,NaN,76.0,284.629041,broken clouds,0.0,0.0
3,2012-10-01 15:00:00,NaN,76.0,284.626998,broken clouds,0.0,0.0
4,2012-10-01 16:00:00,NaN,77.0,284.624955,broken clouds,0.0,0.0

In [12]:
for i in Vancouver[Vancouver['weather'] != 'sky is clear']['weather'].unique():
     Vancouver[Vancouver['weather'] != 'sky is clear'] = Vancouver[Vancouver['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [13]:
Vancouver['weather'].value_counts()

sky is not clear    32448
sky is clear        12805
Name: weather, dtype: int64

In [154]:
compression_opts = dict(method='zip', archive_name='Vancouver.csv')  
Vancouver.to_csv('Vancouver.zip', index = False, compression = compression_opts)

### Portland

In [14]:
Portland = (pressure[['datetime', 'Portland']].merge(humidity[['datetime', 'Portland']], on = 'datetime')
           .merge(temperature[['datetime', 'Portland']], on = 'datetime').merge(weather[['datetime', 'Portland']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Portland']], on = 'datetime'))

In [15]:
Portland.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Portland.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1024.0,81.0,282.080000,scattered clouds,0.0,0.0
2,2012-10-01 14:00:00,1024.0,80.0,282.083252,scattered clouds,0.0,0.0
3,2012-10-01 15:00:00,1024.0,80.0,282.091866,scattered clouds,0.0,0.0
4,2012-10-01 16:00:00,1024.0,80.0,282.100481,scattered clouds,0.0,0.0

In [16]:
for i in Portland[Portland['weather'] != 'sky is clear']['weather'].unique():
     Portland[Portland['weather'] != 'sky is clear'] = Portland[Portland['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [17]:
Portland['weather'].value_counts()

sky is not clear    33528
sky is clear        11725
Name: weather, dtype: int64

In [187]:
compression_opts = dict(method='zip', archive_name='Portland.csv')  
Portland.to_csv('Portland.zip', index = False, compression = compression_opts)

### San Francisco

In [18]:
SF = (pressure[['datetime', 'San Francisco']].merge(humidity[['datetime', 'San Francisco']], on = 'datetime')
           .merge(temperature[['datetime', 'San Francisco']], on = 'datetime').merge(weather[['datetime', 'San Francisco']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'San Francisco']], on = 'datetime'))

In [19]:
SF.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
SF.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1009.0,88.0,289.480000,light rain,0.0,2.0
2,2012-10-01 14:00:00,1009.0,87.0,289.474993,sky is clear,0.0,2.0
3,2012-10-01 15:00:00,1009.0,86.0,289.460618,sky is clear,0.0,2.0
4,2012-10-01 16:00:00,1009.0,85.0,289.446243,sky is clear,0.0,2.0

In [20]:
for i in SF[SF['weather'] != 'sky is clear']['weather'].unique():
     SF[SF['weather'] != 'sky is clear'] = SF[SF['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [21]:
SF['weather'].value_counts()

sky is not clear    32599
sky is clear        12654
Name: weather, dtype: int64

In [186]:
compression_opts = dict(method='zip', archive_name='San Francisco.csv')  
SF.to_csv('San Francisco.zip', index = False, compression = compression_opts)

### Seattle

In [22]:
Seattle = (pressure[['datetime', 'Seattle']].merge(humidity[['datetime', 'Seattle']], on = 'datetime')
           .merge(temperature[['datetime', 'Seattle']], on = 'datetime').merge(weather[['datetime', 'Seattle']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Seattle']], on = 'datetime'))

In [23]:
Seattle.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Seattle.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1027.0,81.0,281.800000,sky is clear,0.0,0.0
2,2012-10-01 14:00:00,1027.0,80.0,281.797217,sky is clear,0.0,0.0
3,2012-10-01 15:00:00,1028.0,80.0,281.789833,sky is clear,0.0,0.0
4,2012-10-01 16:00:00,1028.0,79.0,281.782449,sky is clear,0.0,0.0

In [24]:
for i in Seattle[Seattle['weather'] != 'sky is clear']['weather'].unique():
     Seattle[Seattle['weather'] != 'sky is clear'] = Seattle[Seattle['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [25]:
Seattle['weather'].value_counts()

sky is not clear    32452
sky is clear        12801
Name: weather, dtype: int64

In [185]:
compression_opts = dict(method='zip', archive_name='Seattle.csv')  
Seattle.to_csv('Seattle.zip', index = False, compression = compression_opts)

### Los Angeles

In [26]:
LA = (pressure[['datetime', 'Los Angeles']].merge(humidity[['datetime', 'Los Angeles']], on = 'datetime')
           .merge(temperature[['datetime', 'Los Angeles']], on = 'datetime').merge(weather[['datetime', 'Los Angeles']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Los Angeles']], on = 'datetime'))

In [27]:
LA.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
LA.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1013.0,88.0,291.870000,mist,0.0,0.0
2,2012-10-01 14:00:00,1013.0,88.0,291.868186,sky is clear,0.0,0.0
3,2012-10-01 15:00:00,1013.0,88.0,291.862844,sky is clear,0.0,0.0
4,2012-10-01 16:00:00,1013.0,88.0,291.857503,sky is clear,0.0,0.0

In [28]:
for i in LA[LA['weather'] != 'sky is clear']['weather'].unique():
     LA[LA['weather'] != 'sky is clear'] = LA[LA['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [29]:
LA['weather'].value_counts()

sky is clear        26136
sky is not clear    19117
Name: weather, dtype: int64

In [184]:
compression_opts = dict(method='zip', archive_name='LA.csv')  
LA.to_csv('LA.zip', index = False, compression = compression_opts)

### San Diego

In [30]:
SD = (pressure[['datetime', 'San Diego']].merge(humidity[['datetime', 'San Diego']], on = 'datetime')
           .merge(temperature[['datetime', 'San Diego']], on = 'datetime').merge(weather[['datetime', 'San Diego']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'San Diego']], on = 'datetime'))

In [31]:
SD.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
SD.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1013.0,82.0,291.530000,sky is clear,0.0,0.0
2,2012-10-01 14:00:00,1013.0,81.0,291.533501,sky is clear,0.0,0.0
3,2012-10-01 15:00:00,1013.0,81.0,291.543355,sky is clear,0.0,0.0
4,2012-10-01 16:00:00,1013.0,81.0,291.553209,sky is clear,0.0,0.0

In [32]:
for i in SD[SD['weather'] != 'sky is clear']['weather'].unique():
     SD[SD['weather'] != 'sky is clear'] = SD[SD['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [33]:
SD['weather'].value_counts()

sky is not clear    30424
sky is clear        14829
Name: weather, dtype: int64

In [183]:
compression_opts = dict(method='zip', archive_name='San Diego.csv')  
SD.to_csv('San Diego.zip', index = False, compression = compression_opts)

### Las Vegas

In [34]:
Vegas = (pressure[['datetime', 'Las Vegas']].merge(humidity[['datetime', 'Las Vegas']], on = 'datetime')
           .merge(temperature[['datetime', 'Las Vegas']], on = 'datetime').merge(weather[['datetime', 'Las Vegas']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Las Vegas']], on = 'datetime'))

In [35]:
Vegas.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Vegas.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1018.0,22.0,293.410000,sky is clear,0.0,0.0
2,2012-10-01 14:00:00,1018.0,21.0,293.403141,sky is clear,0.0,0.0
3,2012-10-01 15:00:00,1018.0,21.0,293.392177,sky is clear,0.0,0.0
4,2012-10-01 16:00:00,1018.0,21.0,293.381213,sky is clear,0.0,0.0

In [36]:
for i in Vegas[Vegas['weather'] != 'sky is clear']['weather'].unique():
     Vegas[Vegas['weather'] != 'sky is clear'] = Vegas[Vegas['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [37]:
Vegas['weather'].value_counts()

sky is clear        35090
sky is not clear    10163
Name: weather, dtype: int64

In [182]:
compression_opts = dict(method='zip', archive_name='Vegas.csv')  
Vegas.to_csv('Vegas.zip', index = False, compression = compression_opts)

### Phoenix

In [38]:
Phoenix = (pressure[['datetime', 'Phoenix']].merge(humidity[['datetime', 'Phoenix']], on = 'datetime')
           .merge(temperature[['datetime', 'Phoenix']], on = 'datetime').merge(weather[['datetime', 'Phoenix']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Phoenix']], on = 'datetime'))

In [39]:
Phoenix.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Phoenix.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1013.0,23.0,296.600000,sky is clear,0.0,2.0
2,2012-10-01 14:00:00,1013.0,23.0,296.608509,sky is clear,0.0,2.0
3,2012-10-01 15:00:00,1013.0,23.0,296.631487,sky is clear,0.0,2.0
4,2012-10-01 16:00:00,1013.0,23.0,296.654466,sky is clear,0.0,2.0

In [40]:
for i in Phoenix[Phoenix['weather'] != 'sky is clear']['weather'].unique():
     Phoenix[Phoenix['weather'] != 'sky is clear'] = Phoenix[Phoenix['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [41]:
Phoenix['weather'].value_counts()

sky is clear        30303
sky is not clear    14950
Name: weather, dtype: int64

In [181]:
compression_opts = dict(method='zip', archive_name='Phoenix.csv')  
Phoenix.to_csv('Phoenix.zip', index = False, compression = compression_opts)

### Albuquerque

In [42]:
Albuquerque = (pressure[['datetime', 'Albuquerque']].merge(humidity[['datetime', 'Albuquerque']], on = 'datetime')
           .merge(temperature[['datetime', 'Albuquerque']], on = 'datetime').merge(weather[['datetime', 'Albuquerque']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Albuquerque']], on = 'datetime'))

In [43]:
Albuquerque.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Albuquerque.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1024.0,50.0,285.120000,sky is clear,0.0,4.0
2,2012-10-01 14:00:00,1024.0,49.0,285.154558,sky is clear,0.0,4.0
3,2012-10-01 15:00:00,1024.0,49.0,285.233952,sky is clear,0.0,4.0
4,2012-10-01 16:00:00,1024.0,49.0,285.313345,sky is clear,0.0,4.0

In [44]:
for i in Albuquerque[Albuquerque['weather'] != 'sky is clear']['weather'].unique():
     Albuquerque[Albuquerque['weather'] != 'sky is clear'] = Albuquerque[Albuquerque['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [45]:
Albuquerque['weather'].value_counts()

sky is not clear    26909
sky is clear        18344
Name: weather, dtype: int64

In [180]:
compression_opts = dict(method='zip', archive_name='Albuquerque.csv')  
Albuquerque.to_csv('Albuquerque.zip', index = False, compression = compression_opts)

### Denver

In [46]:
Denver = (pressure[['datetime', 'Denver']].merge(humidity[['datetime', 'Denver']], on = 'datetime')
           .merge(temperature[['datetime', 'Denver']], on = 'datetime').merge(weather[['datetime', 'Denver']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Denver']], on = 'datetime'))

In [47]:
Denver.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Denver.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1028.0,62.0,284.610000,light rain,0.0,4.0
2,2012-10-01 14:00:00,1028.0,62.0,284.607306,broken clouds,0.0,4.0
3,2012-10-01 15:00:00,1028.0,62.0,284.599918,broken clouds,0.0,3.0
4,2012-10-01 16:00:00,1028.0,62.0,284.592530,broken clouds,0.0,3.0

In [48]:
for i in Denver[Denver['weather'] != 'sky is clear']['weather'].unique():
     Denver[Denver['weather'] != 'sky is clear'] = Denver[Denver['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [49]:
Denver['weather'].value_counts()

sky is not clear    28665
sky is clear        16588
Name: weather, dtype: int64

In [179]:
compression_opts = dict(method='zip', archive_name='Denver.csv')  
Denver.to_csv('Denver.zip', index = False, compression = compression_opts)

### San Antonio

In [50]:
San_Antonio = (pressure[['datetime', 'San Antonio']].merge(humidity[['datetime', 'San Antonio']], on = 'datetime')
           .merge(temperature[['datetime', 'San Antonio']], on = 'datetime').merge(weather[['datetime', 'San Antonio']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'San Antonio']], on = 'datetime'))

In [51]:
San_Antonio.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
San_Antonio.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1014.0,93.0,289.290000,sky is clear,0.0,0.0
2,2012-10-01 14:00:00,1014.0,92.0,289.303649,sky is clear,0.0,0.0
3,2012-10-01 15:00:00,1014.0,92.0,289.338497,sky is clear,0.0,0.0
4,2012-10-01 16:00:00,1014.0,92.0,289.373345,sky is clear,0.0,0.0

In [52]:
for i in San_Antonio[San_Antonio['weather'] != 'sky is clear']['weather'].unique():
     San_Antonio[San_Antonio['weather'] != 'sky is clear'] = San_Antonio[San_Antonio['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [53]:
San_Antonio['weather'].value_counts()

sky is not clear    26481
sky is clear        18772
Name: weather, dtype: int64

In [178]:
compression_opts = dict(method='zip', archive_name='San_Antonio.csv')  
San_Antonio.to_csv('San_Antonio.zip', index = False, compression = compression_opts)

### Houston

In [54]:
Houston = (pressure[['datetime', 'Houston']].merge(humidity[['datetime', 'Houston']], on = 'datetime')
           .merge(temperature[['datetime', 'Houston']], on = 'datetime').merge(weather[['datetime', 'Houston']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Houston']], on = 'datetime'))

In [55]:
Houston.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Houston.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1009.0,93.0,288.270000,sky is clear,0.0,1.0
2,2012-10-01 14:00:00,1008.0,92.0,288.297576,sky is clear,0.0,1.0
3,2012-10-01 15:00:00,1008.0,90.0,288.334343,sky is clear,0.0,1.0
4,2012-10-01 16:00:00,1008.0,89.0,288.371111,sky is clear,0.0,1.0

In [56]:
for i in Houston[Houston['weather'] != 'sky is clear']['weather'].unique():
     Houston[Houston['weather'] != 'sky is clear'] = Houston[Houston['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [57]:
Houston['weather'].value_counts()

sky is not clear    32598
sky is clear        12655
Name: weather, dtype: int64

In [177]:
compression_opts = dict(method='zip', archive_name='Houston.csv')  
Houston.to_csv('Houston.zip', index = False, compression = compression_opts)

### Kansas

In [58]:
Kansas = (pressure[['datetime', 'Kansas City']].merge(humidity[['datetime', 'Kansas City']], on = 'datetime')
           .merge(temperature[['datetime', 'Kansas City']], on = 'datetime').merge(weather[['datetime', 'Kansas City']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Kansas City']], on = 'datetime'))

In [59]:
Kansas.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Kansas.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1011.0,71.0,289.980000,sky is clear,0.0,0.0
2,2012-10-01 14:00:00,1011.0,70.0,289.997635,sky is clear,0.0,0.0
3,2012-10-01 15:00:00,1011.0,70.0,290.038151,sky is clear,0.0,0.0
4,2012-10-01 16:00:00,1011.0,70.0,290.078666,sky is clear,0.0,0.0

In [60]:
for i in Kansas[Kansas['weather'] != 'sky is clear']['weather'].unique():
     Kansas[Kansas['weather'] != 'sky is clear'] = Kansas[Kansas['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [61]:
Kansas['weather'].value_counts()

sky is not clear    24960
sky is clear        20293
Name: weather, dtype: int64

In [176]:
compression_opts = dict(method='zip', archive_name='Kansas.csv')  
Kansas.to_csv('Kansas.zip', index = False, compression = compression_opts)

### Minneapolis

In [62]:
Minneapolis = (pressure[['datetime', 'Minneapolis']].merge(humidity[['datetime', 'Minneapolis']], on = 'datetime')
           .merge(temperature[['datetime', 'Minneapolis']], on = 'datetime').merge(weather[['datetime', 'Minneapolis']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Minneapolis']], on = 'datetime'))

In [63]:
Minneapolis.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Minneapolis.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1012.0,67.0,286.870000,broken clouds,0.0,3.0
2,2012-10-01 14:00:00,1012.0,66.0,286.893636,broken clouds,0.0,3.0
3,2012-10-01 15:00:00,1012.0,66.0,286.951401,broken clouds,0.0,3.0
4,2012-10-01 16:00:00,1012.0,65.0,287.009166,broken clouds,0.0,3.0

In [64]:
for i in Minneapolis[Minneapolis['weather'] != 'sky is clear']['weather'].unique():
     Minneapolis[Minneapolis['weather'] != 'sky is clear'] = Minneapolis[Minneapolis['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [65]:
Minneapolis['weather'].value_counts()

sky is not clear    30961
sky is clear        14292
Name: weather, dtype: int64

In [175]:
compression_opts = dict(method='zip', archive_name='Minneapolis.csv')  
Minneapolis.to_csv('Minneapolis.zip', index = False, compression = compression_opts)

### Saint Louis

In [66]:
Saint_Louis = (pressure[['datetime', 'Saint Louis']].merge(humidity[['datetime', 'Saint Louis']], on = 'datetime')
           .merge(temperature[['datetime', 'Saint Louis']], on = 'datetime').merge(weather[['datetime', 'Saint Louis']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Saint Louis']], on = 'datetime'))

In [67]:
Saint_Louis.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Saint_Louis.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1010.0,71.0,286.180000,sky is clear,0.0,4.0
2,2012-10-01 14:00:00,1010.0,71.0,286.185246,sky is clear,0.0,4.0
3,2012-10-01 15:00:00,1010.0,71.0,286.199194,sky is clear,0.0,4.0
4,2012-10-01 16:00:00,1010.0,71.0,286.213142,sky is clear,0.0,3.0

In [68]:
for i in Saint_Louis[Saint_Louis['weather'] != 'sky is clear']['weather'].unique():
     Saint_Louis[Saint_Louis['weather'] != 'sky is clear'] = Saint_Louis[Saint_Louis['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [69]:
Saint_Louis['weather'].value_counts()

sky is not clear    25556
sky is clear        19697
Name: weather, dtype: int64

In [174]:
compression_opts = dict(method='zip', archive_name='Saint_Louis.csv')  
Saint_Louis.to_csv('Saint_Louis.zip', index = False, compression = compression_opts)

### Nashville

In [70]:
Nashville = (pressure[['datetime', 'Nashville']].merge(humidity[['datetime', 'Nashville']], on = 'datetime')
           .merge(temperature[['datetime', 'Nashville']], on = 'datetime').merge(weather[['datetime', 'Nashville']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Nashville']], on = 'datetime'))

In [71]:
Nashville.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Nashville.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1005.0,100.0,287.410000,mist,0.0,4.0
2,2012-10-01 14:00:00,1004.0,99.0,287.421360,overcast clouds,0.0,4.0
3,2012-10-01 15:00:00,1004.0,99.0,287.454637,overcast clouds,0.0,4.0
4,2012-10-01 16:00:00,1004.0,99.0,287.487914,overcast clouds,0.0,4.0

In [72]:
for i in Nashville[Nashville['weather'] != 'sky is clear']['weather'].unique():
     Nashville[Nashville['weather'] != 'sky is clear'] = Nashville[Nashville['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [73]:
Nashville['weather'].value_counts()

sky is not clear    30524
sky is clear        14729
Name: weather, dtype: int64

In [173]:
compression_opts = dict(method='zip', archive_name='Nashville.csv')  
Nashville.to_csv('Nashville.zip', index = False, compression = compression_opts)

### Indianapolis

In [74]:
Indianapolis = (pressure[['datetime', 'Indianapolis']].merge(humidity[['datetime', 'Indianapolis']], on = 'datetime')
           .merge(temperature[['datetime', 'Indianapolis']], on = 'datetime').merge(weather[['datetime', 'Indianapolis']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Indianapolis']], on = 'datetime'))

In [75]:
Indianapolis.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Indianapolis.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1011.0,76.0,283.850000,overcast clouds,0.0,4.0
2,2012-10-01 14:00:00,1011.0,76.0,283.889394,overcast clouds,0.0,4.0
3,2012-10-01 15:00:00,1011.0,76.0,283.941919,overcast clouds,0.0,4.0
4,2012-10-01 16:00:00,1011.0,76.0,283.994444,overcast clouds,0.0,4.0

In [76]:
for i in Indianapolis[Indianapolis['weather'] != 'sky is clear']['weather'].unique():
     Indianapolis[Indianapolis['weather'] != 'sky is clear'] = Indianapolis[Indianapolis['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [77]:
Indianapolis['weather'].value_counts()

sky is not clear    31878
sky is clear        13375
Name: weather, dtype: int64

In [172]:
compression_opts = dict(method='zip', archive_name='Indianapolis.csv')  
Indianapolis.to_csv('Indianapolis.zip', index = False, compression = compression_opts)

### Atlanta

In [78]:
Atlanta = (pressure[['datetime', 'Atlanta']].merge(humidity[['datetime', 'Atlanta']], on = 'datetime')
           .merge(temperature[['datetime', 'Atlanta']], on = 'datetime').merge(weather[['datetime', 'Atlanta']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Atlanta']], on = 'datetime'))

In [79]:
Atlanta.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Atlanta.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1006.0,94.0,294.030000,light rain,0.0,3.0
2,2012-10-01 14:00:00,1006.0,94.0,294.035341,overcast clouds,0.0,3.0
3,2012-10-01 15:00:00,1006.0,94.0,294.049702,overcast clouds,0.0,3.0
4,2012-10-01 16:00:00,1006.0,94.0,294.064063,overcast clouds,0.0,3.0

In [80]:
for i in Atlanta[Atlanta['weather'] != 'sky is clear']['weather'].unique():
     Atlanta[Atlanta['weather'] != 'sky is clear'] = Atlanta[Atlanta['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [82]:
Atlanta['weather'].value_counts()

sky is not clear    25722
sky is clear        19531
Name: weather, dtype: int64

In [171]:
compression_opts = dict(method='zip', archive_name='Atlanta.csv')  
Atlanta.to_csv('Atlanta.zip', index = False, compression = compression_opts)

### Detroit

In [83]:
Detroit = (pressure[['datetime', 'Detroit']].merge(humidity[['datetime', 'Detroit']], on = 'datetime')
           .merge(temperature[['datetime', 'Detroit']], on = 'datetime').merge(weather[['datetime', 'Detroit']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Detroit']], on = 'datetime'))

In [84]:
Detroit.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Detroit.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1016.0,76.0,284.030000,sky is clear,0.0,0.0
2,2012-10-01 14:00:00,1015.0,75.0,284.069789,sky is clear,0.0,0.0
3,2012-10-01 15:00:00,1015.0,75.0,284.173965,sky is clear,0.0,0.0
4,2012-10-01 16:00:00,1015.0,74.0,284.278140,sky is clear,0.0,0.0

In [85]:
for i in Detroit[Detroit['weather'] != 'sky is clear']['weather'].unique():
     Detroit[Detroit['weather'] != 'sky is clear'] = Detroit[Detroit['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [86]:
Detroit['weather'].value_counts()

sky is not clear    30004
sky is clear        15249
Name: weather, dtype: int64

In [170]:
compression_opts = dict(method='zip', archive_name='Detroit.csv')  
Detroit.to_csv('Detroit.zip', index = False, compression = compression_opts)

### Jacksonville

In [87]:
Jacksonville = (pressure[['datetime', 'Jacksonville']].merge(humidity[['datetime', 'Jacksonville']], on = 'datetime')
           .merge(temperature[['datetime', 'Jacksonville']], on = 'datetime').merge(weather[['datetime', 'Jacksonville']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Jacksonville']], on = 'datetime'))

In [88]:
Jacksonville.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Jacksonville.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1009.0,88.0,298.170000,scattered clouds,0.0,3.0
2,2012-10-01 14:00:00,1009.0,87.0,298.205230,scattered clouds,0.0,3.0
3,2012-10-01 15:00:00,1009.0,87.0,298.299595,scattered clouds,0.0,3.0
4,2012-10-01 16:00:00,1009.0,87.0,298.393961,scattered clouds,0.0,3.0

In [89]:
for i in Jacksonville[Jacksonville['weather'] != 'sky is clear']['weather'].unique():
     Jacksonville[Jacksonville['weather'] != 'sky is clear'] = Jacksonville[Jacksonville['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [91]:
Jacksonville['weather'].value_counts()

sky is not clear    31893
sky is clear        13360
Name: weather, dtype: int64

In [169]:
compression_opts = dict(method='zip', archive_name='Jacksonville.csv')  
Jacksonville.to_csv('Jacksonville.zip', index = False, compression = compression_opts)

### Charlotte

In [92]:
Charlotte = (pressure[['datetime', 'Charlotte']].merge(humidity[['datetime', 'Charlotte']], on = 'datetime')
           .merge(temperature[['datetime', 'Charlotte']], on = 'datetime').merge(weather[['datetime', 'Charlotte']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Charlotte']], on = 'datetime'))

In [93]:
Charlotte.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Charlotte.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1012.0,87.0,288.650000,mist,0.0,4.0
2,2012-10-01 14:00:00,1012.0,87.0,288.650172,overcast clouds,0.0,4.0
3,2012-10-01 15:00:00,1012.0,87.0,288.650582,overcast clouds,0.0,4.0
4,2012-10-01 16:00:00,1012.0,87.0,288.650991,overcast clouds,0.0,4.0

In [94]:
for i in Charlotte[Charlotte['weather'] != 'sky is clear']['weather'].unique():
     Charlotte[Charlotte['weather'] != 'sky is clear'] = Charlotte[Charlotte['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [95]:
Charlotte['weather'].value_counts()

sky is not clear    29030
sky is clear        16223
Name: weather, dtype: int64

In [168]:
compression_opts = dict(method='zip', archive_name='Charlotte.csv')  
Charlotte.to_csv('Charlotte.zip', index = False, compression = compression_opts)

### Miami

In [96]:
Miami = (pressure[['datetime', 'Miami']].merge(humidity[['datetime', 'Miami']], on = 'datetime')
           .merge(temperature[['datetime', 'Miami']], on = 'datetime').merge(weather[['datetime', 'Miami']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Miami']], on = 'datetime'))

In [97]:
Miami.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Miami.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1011.0,83.0,299.720000,light intensity drizzle,0.0,3.0
2,2012-10-01 14:00:00,1011.0,82.0,299.732518,broken clouds,0.0,3.0
3,2012-10-01 15:00:00,1011.0,82.0,299.766579,broken clouds,0.0,3.0
4,2012-10-01 16:00:00,1011.0,82.0,299.800641,broken clouds,0.0,3.0

In [98]:
for i in Miami[Miami['weather'] != 'sky is clear']['weather'].unique():
     Miami[Miami['weather'] != 'sky is clear'] = Miami[Miami['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [99]:
Miami['weather'].value_counts()

sky is not clear    38448
sky is clear         6805
Name: weather, dtype: int64

In [167]:
compression_opts = dict(method='zip', archive_name='Miami.csv')  
Miami.to_csv('Miami.zip', index = False, compression = compression_opts)

### Pittsburgh

In [100]:
Pittsburgh = (pressure[['datetime', 'Pittsburgh']].merge(humidity[['datetime', 'Pittsburgh']], on = 'datetime')
           .merge(temperature[['datetime', 'Pittsburgh']], on = 'datetime').merge(weather[['datetime', 'Pittsburgh']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Pittsburgh']], on = 'datetime'))

In [101]:
Pittsburgh.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Pittsburgh.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1015.0,93.0,281.000000,mist,0.0,0.0
2,2012-10-01 14:00:00,1015.0,93.0,281.024767,scattered clouds,0.0,0.0
3,2012-10-01 15:00:00,1015.0,93.0,281.088319,scattered clouds,0.0,0.0
4,2012-10-01 16:00:00,1015.0,93.0,281.151870,scattered clouds,0.0,0.0

In [103]:
for i in Pittsburgh[Pittsburgh['weather'] != 'sky is clear']['weather'].unique():
     Pittsburgh[Pittsburgh['weather'] != 'sky is clear'] = Pittsburgh[Pittsburgh['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [104]:
Pittsburgh['weather'].value_counts()

sky is not clear    30603
sky is clear        14650
Name: weather, dtype: int64

In [166]:
compression_opts = dict(method='zip', archive_name='Pittsburgh.csv')  
Pittsburgh.to_csv('Pittsburgh.zip', index = False, compression = compression_opts)

### Toronto

In [105]:
Toronto = (pressure[['datetime', 'Toronto']].merge(humidity[['datetime', 'Toronto']], on = 'datetime')
           .merge(temperature[['datetime', 'Toronto']], on = 'datetime').merge(weather[['datetime', 'Toronto']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Toronto']], on = 'datetime'))

In [106]:
Toronto.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Toronto.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1012.0,82.0,286.260000,sky is clear,0.0,3.0
2,2012-10-01 14:00:00,1011.0,81.0,286.262541,sky is clear,0.0,3.0
3,2012-10-01 15:00:00,1011.0,79.0,286.269518,sky is clear,0.0,3.0
4,2012-10-01 16:00:00,1010.0,77.0,286.276496,sky is clear,0.0,3.0

In [107]:
for i in Toronto[Toronto['weather'] != 'sky is clear']['weather'].unique():
     Toronto[Toronto['weather'] != 'sky is clear'] = Toronto[Toronto['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [108]:
Toronto['weather'].value_counts()

sky is not clear    31339
sky is clear        13914
Name: weather, dtype: int64

In [165]:
compression_opts = dict(method='zip', archive_name='Toronto.csv')  
Toronto.to_csv('Toronto.zip', index = False, compression = compression_opts)

### Philadelphia

In [109]:
Philadelphia = (pressure[['datetime', 'Philadelphia']].merge(humidity[['datetime', 'Philadelphia']], on = 'datetime')
           .merge(temperature[['datetime', 'Philadelphia']], on = 'datetime').merge(weather[['datetime', 'Philadelphia']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Philadelphia']], on = 'datetime'))

In [110]:
Philadelphia.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Philadelphia.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1014.0,71.0,285.630000,broken clouds,0.0,4.0
2,2012-10-01 14:00:00,1014.0,70.0,285.663208,broken clouds,0.0,4.0
3,2012-10-01 15:00:00,1014.0,70.0,285.756824,broken clouds,0.0,3.0
4,2012-10-01 16:00:00,1014.0,69.0,285.850440,broken clouds,0.0,3.0

In [111]:
for i in Philadelphia[Philadelphia['weather'] != 'sky is clear']['weather'].unique():
     Philadelphia[Philadelphia['weather'] != 'sky is clear'] = Philadelphia[Philadelphia['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [112]:
Philadelphia['weather'].value_counts()

sky is not clear    30334
sky is clear        14919
Name: weather, dtype: int64

In [164]:
compression_opts = dict(method='zip', archive_name='Philadelphia.csv')  
Philadelphia.to_csv('Philadelphia.zip', index = False, compression = compression_opts)

### New York City

In [113]:
NYC = (pressure[['datetime', 'New York']].merge(humidity[['datetime', 'New York']], on = 'datetime')
           .merge(temperature[['datetime', 'New York']], on = 'datetime').merge(weather[['datetime', 'New York']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'New York']], on = 'datetime'))

In [114]:
NYC.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
NYC.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1012.0,58.0,288.220000,few clouds,0.0,7.0
2,2012-10-01 14:00:00,1012.0,57.0,288.247676,few clouds,0.0,7.0
3,2012-10-01 15:00:00,1012.0,57.0,288.326940,few clouds,0.0,7.0
4,2012-10-01 16:00:00,1012.0,57.0,288.406203,few clouds,0.0,7.0

In [115]:
for i in NYC[NYC['weather'] != 'sky is clear']['weather'].unique():
     NYC[NYC['weather'] != 'sky is clear'] = NYC[NYC['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [116]:
NYC['weather'].value_counts()

sky is not clear    33652
sky is clear        11601
Name: weather, dtype: int64

In [163]:
compression_opts = dict(method='zip', archive_name='NYC.csv')  
NYC.to_csv('NYC.zip', index = False, compression = compression_opts)

### Montreal

In [117]:
Montreal = (pressure[['datetime', 'Montreal']].merge(humidity[['datetime', 'Montreal']], on = 'datetime')
           .merge(temperature[['datetime', 'Montreal']], on = 'datetime').merge(weather[['datetime', 'Montreal']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Montreal']], on = 'datetime'))

In [118]:
Montreal.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Montreal.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1001.0,93.0,285.830000,overcast clouds,0.0,4.0
2,2012-10-01 14:00:00,986.0,91.0,285.834650,sky is clear,0.0,4.0
3,2012-10-01 15:00:00,945.0,87.0,285.847790,sky is clear,0.0,4.0
4,2012-10-01 16:00:00,904.0,84.0,285.860929,sky is clear,0.0,4.0

In [119]:
for i in Montreal[Montreal['weather'] != 'sky is clear']['weather'].unique():
     Montreal[Montreal['weather'] != 'sky is clear'] = Montreal[Montreal['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [120]:
Montreal['weather'].value_counts()

sky is not clear    37954
sky is clear         7299
Name: weather, dtype: int64

In [162]:
compression_opts = dict(method='zip', archive_name='Montreal.csv')  
Montreal.to_csv('Montreal.zip', index = False, compression = compression_opts)

### Boston

In [121]:
Boston = (pressure[['datetime', 'Boston']].merge(humidity[['datetime', 'Boston']], on = 'datetime')
           .merge(temperature[['datetime', 'Boston']], on = 'datetime').merge(weather[['datetime', 'Boston']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Boston']], on = 'datetime'))

In [122]:
Boston.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Boston.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1014.0,68.0,287.170000,sky is clear,0.0,3.0
2,2012-10-01 14:00:00,1014.0,68.0,287.186092,few clouds,0.0,3.0
3,2012-10-01 15:00:00,1014.0,68.0,287.231672,few clouds,0.0,3.0
4,2012-10-01 16:00:00,1014.0,68.0,287.277251,few clouds,0.0,3.0

In [123]:
for i in Boston[Boston['weather'] != 'sky is clear']['weather'].unique():
     Boston[Boston['weather'] != 'sky is clear'] = Boston[Boston['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [124]:
Boston['weather'].value_counts()

sky is not clear    27809
sky is clear        17444
Name: weather, dtype: int64

In [161]:
compression_opts = dict(method='zip', archive_name='Boston.csv')  
Boston.to_csv('Boston.zip', index = False, compression = compression_opts)

### Beersheba

In [125]:
Beersheba = (pressure[['datetime', 'Beersheba']].merge(humidity[['datetime', 'Beersheba']], on = 'datetime')
           .merge(temperature[['datetime', 'Beersheba']], on = 'datetime').merge(weather[['datetime', 'Beersheba']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Beersheba']], on = 'datetime'))

In [126]:
Beersheba.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Beersheba.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,984.0,50.0,307.590000,sky is clear,0.0,1.0
2,2012-10-01 14:00:00,984.0,51.0,307.590000,sky is clear,0.0,3.0
3,2012-10-01 15:00:00,984.0,51.0,307.391513,overcast clouds,0.0,3.0
4,2012-10-01 16:00:00,984.0,52.0,307.145200,overcast clouds,0.0,3.0

In [127]:
for i in Beersheba[Beersheba['weather'] != 'sky is clear']['weather'].unique():
     Beersheba[Beersheba['weather'] != 'sky is clear'] = Beersheba[Beersheba['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [128]:
Beersheba['weather'].value_counts()

sky is clear        29442
sky is not clear    15811
Name: weather, dtype: int64

In [160]:
compression_opts = dict(method='zip', archive_name='Beersheba.csv')  
Beersheba.to_csv('Beersheba.zip', index = False, compression = compression_opts)

### Tel-Aviv

In [129]:
Tel_Aviv = (pressure[['datetime', 'Tel Aviv District']].merge(humidity[['datetime', 'Tel Aviv District']], on = 'datetime')
           .merge(temperature[['datetime', 'Tel Aviv District']], on = 'datetime').merge(weather[['datetime', 'Tel Aviv District']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Tel Aviv District']], on = 'datetime'))

In [130]:
Tel_Aviv.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Tel_Aviv.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1012.0,63.0,305.470000,sky is clear,0.0,0.0
2,2012-10-01 14:00:00,1012.0,62.0,304.310000,sky is clear,0.0,0.0
3,2012-10-01 15:00:00,1012.0,62.0,304.281841,sky is clear,0.0,0.0
4,2012-10-01 16:00:00,1012.0,62.0,304.238015,sky is clear,0.0,0.0

In [131]:
for i in Tel_Aviv[Tel_Aviv['weather'] != 'sky is clear']['weather'].unique():
     Tel_Aviv[Tel_Aviv['weather'] != 'sky is clear'] = Tel_Aviv[Tel_Aviv['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [132]:
Tel_Aviv['weather'].value_counts()

sky is not clear    23514
sky is clear        21739
Name: weather, dtype: int64

In [159]:
compression_opts = dict(method='zip', archive_name='Tel_Aviv.csv')  
Tel_Aviv.to_csv('Tel_Aviv.zip', index = False, compression = compression_opts)

### Eilat

In [133]:
Eilat = (pressure[['datetime', 'Eilat']].merge(humidity[['datetime', 'Eilat']], on = 'datetime')
           .merge(temperature[['datetime', 'Eilat']], on = 'datetime').merge(weather[['datetime', 'Eilat']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Eilat']], on = 'datetime'))

In [135]:
Eilat.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Eilat.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,1011.0,25.0,309.100000,haze,NaN,8.0
1,2012-10-01 13:00:00,1010.0,22.0,310.580000,haze,0.0,8.0
2,2012-10-01 14:00:00,1010.0,22.0,310.495769,broken clouds,0.0,8.0
3,2012-10-01 15:00:00,1010.0,22.0,310.411538,broken clouds,0.0,8.0
4,2012-10-01 16:00:00,1010.0,22.0,310.327308,broken clouds,0.0,8.0

In [136]:
for i in Eilat[Eilat['weather'] != 'sky is clear']['weather'].unique():
     Eilat[Eilat['weather'] != 'sky is clear'] = Eilat[Eilat['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [137]:
Eilat['weather'].value_counts()

sky is clear        37320
sky is not clear     7933
Name: weather, dtype: int64

In [158]:
compression_opts = dict(method='zip', archive_name='Eilat.csv')  
Eilat.to_csv('Eilat.zip', index = False, compression = compression_opts)

### Haifa

In [138]:
Haifa = (pressure[['datetime', 'Haifa']].merge(humidity[['datetime', 'Haifa']], on = 'datetime')
           .merge(temperature[['datetime', 'Haifa']], on = 'datetime').merge(weather[['datetime', 'Haifa']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Haifa']], on = 'datetime'))

In [139]:
Haifa.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Haifa.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1013.0,51.0,304.4,sky is clear,0.0,2.0
2,2012-10-01 14:00:00,1013.0,51.0,304.4,overcast clouds,0.0,2.0
3,2012-10-01 15:00:00,1013.0,51.0,304.4,overcast clouds,0.0,2.0
4,2012-10-01 16:00:00,1013.0,51.0,304.4,overcast clouds,0.0,2.0

In [141]:
for i in Haifa[Haifa['weather'] != 'sky is clear']['weather'].unique():
     Haifa[Haifa['weather'] != 'sky is clear'] = Haifa[Haifa['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [142]:
Haifa['weather'].value_counts()

sky is clear        25587
sky is not clear    19666
Name: weather, dtype: int64

In [157]:
compression_opts = dict(method='zip', archive_name='Haifa.csv')  
Haifa.to_csv('Haifa.zip', index = False, compression = compression_opts)

### Nahariyya

In [143]:
Nahariyya = (pressure[['datetime', 'Nahariyya']].merge(humidity[['datetime', 'Nahariyya']], on = 'datetime')
           .merge(temperature[['datetime', 'Nahariyya']], on = 'datetime').merge(weather[['datetime', 'Nahariyya']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Nahariyya']], on = 'datetime'))

In [144]:
Nahariyya.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Nahariyya.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,1013.0,51.0,304.4,sky is clear,0.0,2.0
2,2012-10-01 14:00:00,1013.0,51.0,304.4,sky is clear,0.0,2.0
3,2012-10-01 15:00:00,1013.0,51.0,304.4,overcast clouds,0.0,2.0
4,2012-10-01 16:00:00,1013.0,51.0,304.4,overcast clouds,0.0,2.0

In [145]:
for i in Nahariyya[Nahariyya['weather'] != 'sky is clear']['weather'].unique():
     Nahariyya[Nahariyya['weather'] != 'sky is clear'] = Nahariyya[Nahariyya['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [146]:
Nahariyya['weather'].value_counts()

sky is clear        25516
sky is not clear    19737
Name: weather, dtype: int64

In [156]:
compression_opts = dict(method='zip', archive_name='Nahariyya.csv')  
Nahariyya.to_csv('Nahariyya.zip', index = False, compression = compression_opts)

### Jerusalem

In [147]:
Jerusalem = (pressure[['datetime', 'Jerusalem']].merge(humidity[['datetime', 'Jerusalem']], on = 'datetime')
           .merge(temperature[['datetime', 'Jerusalem']], on = 'datetime').merge(weather[['datetime', 'Jerusalem']], on = 'datetime').merge(wind_dir[['datetime', 'Chicago']], on = 'datetime')
           .merge(wind_speed[['datetime', 'Jerusalem']], on = 'datetime'))

In [148]:
Jerusalem.columns = ['datetime', 'pressure', 'humidity', 'temperature', 'weather', 'wind direction', 'wind speed']
Jerusalem.head()

,datetime,pressure,humidity,temperature,weather,wind direction,wind speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,990.0,50.0,303.5,sky is clear,0.0,2.0
2,2012-10-01 14:00:00,990.0,50.0,303.5,overcast clouds,0.0,2.0
3,2012-10-01 15:00:00,990.0,50.0,303.5,overcast clouds,0.0,2.0
4,2012-10-01 16:00:00,990.0,50.0,303.5,overcast clouds,0.0,2.0

In [149]:
for i in Jerusalem[Jerusalem['weather'] != 'sky is clear']['weather'].unique():
     Jerusalem[Jerusalem['weather'] != 'sky is clear'] = Jerusalem[Jerusalem['weather'] != 'sky is clear'].replace({'weather': i}, value = 'sky is not clear')

In [150]:
Jerusalem['weather'].value_counts()

sky is clear        26934
sky is not clear    18319
Name: weather, dtype: int64

In [155]:
compression_opts = dict(method='zip', archive_name='Jerusalem.csv')  
Jerusalem.to_csv('Jerusalem.zip', index = False, compression = compression_opts)