In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
humidity_df = pd.read_csv('humidity.csv')
pressure_df = pd.read_csv('pressure.csv')
temperature_df = pd.read_csv('temperature.csv')
weather_description_df = pd.read_csv('weather_description.csv')
wind_direction_df = pd.read_csv('wind_direction.csv')
wind_speed_df = pd.read_csv('wind_speed.csv')

In [3]:
humidity = humidity_df[['datetime', 'Houston']]
pressure = pressure_df[['datetime', 'Houston']]
temperature = temperature_df[['datetime', 'Houston']]
weather_description = weather_description_df[['datetime', 'Houston']]
wind_direction = wind_direction_df[['datetime', 'Houston']]
wind_speed = wind_speed_df[['datetime', 'Houston']]

In [4]:
wind_speed.head()

              datetime  Houston
0  2012-10-01 12:00:00      NaN
1  2012-10-01 13:00:00      1.0
2  2012-10-01 14:00:00      1.0
3  2012-10-01 15:00:00      1.0
4  2012-10-01 16:00:00      1.0

In [5]:
weather_df = (weather_description.merge(humidity, on = 'datetime')
             .merge(pressure, on = 'datetime')
             .merge(temperature, on = 'datetime')
             .merge(wind_direction, on = 'datetime')
             .merge(wind_speed, on = 'datetime')
             )
weather_df.columns = ['Datetime', 'Description', 'Humidity', 'Pressure', 'Temperature', 'Wind_Direction', 'Wind_Speed'] 
weather_df.head()

,Datetime,Description,Humidity,Pressure,Temperature,Wind_Direction,Wind_Speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,sky is clear,93.0,1009.0,288.270000,270.0,1.0
2,2012-10-01 14:00:00,sky is clear,92.0,1008.0,288.297576,268.0,1.0
3,2012-10-01 15:00:00,sky is clear,90.0,1008.0,288.334343,265.0,1.0
4,2012-10-01 16:00:00,sky is clear,89.0,1008.0,288.371111,263.0,1.0