In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
humidity_df = pd.read_csv('humidity.csv')
pressure_df = pd.read_csv('pressure.csv')
temperature_df = pd.read_csv('temperature.csv')
weather_description_df = pd.read_csv('weather_description.csv')
wind_direction_df = pd.read_csv('wind_direction.csv')
wind_speed_df = pd.read_csv('wind_speed.csv')

In [3]:
humidity = humidity_df[['datetime', 'Kansas City']]
pressure = pressure_df[['datetime', 'Kansas City']]
temperature = temperature_df[['datetime', 'Kansas City']]
weather_description = weather_description_df[['datetime', 'Kansas City']]
wind_direction = wind_direction_df[['datetime', 'Kansas City']]
wind_speed = wind_speed_df[['datetime', 'Kansas City']]

In [4]:
wind_speed.head()

              datetime  Kansas City
0  2012-10-01 12:00:00          NaN
1  2012-10-01 13:00:00          0.0
2  2012-10-01 14:00:00          0.0
3  2012-10-01 15:00:00          0.0
4  2012-10-01 16:00:00          0.0

In [5]:
weather_df = (weather_description.merge(humidity, on = 'datetime')
             .merge(pressure, on = 'datetime')
             .merge(temperature, on = 'datetime')
             .merge(wind_direction, on = 'datetime')
             .merge(wind_speed, on = 'datetime')
             )
weather_df.columns = ['Datetime', 'Description', 'Humidity', 'Pressure', 'Temperature', 'Wind_Direction', 'Wind_Speed'] 
weather_df.head()

,Datetime,Description,Humidity,Pressure,Temperature,Wind_Direction,Wind_Speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,sky is clear,71.0,1011.0,289.980000,0.0,0.0
2,2012-10-01 14:00:00,sky is clear,70.0,1011.0,289.997635,6.0,0.0
3,2012-10-01 15:00:00,sky is clear,70.0,1011.0,290.038151,20.0,0.0
4,2012-10-01 16:00:00,sky is clear,70.0,1011.0,290.078666,34.0,0.0