In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
humidity_df = pd.read_csv('humidity.csv')
pressure_df = pd.read_csv('pressure.csv')
temperature_df = pd.read_csv('temperature.csv')
weather_description_df = pd.read_csv('weather_description.csv')
wind_direction_df = pd.read_csv('wind_direction.csv')
wind_speed_df = pd.read_csv('wind_speed.csv')

In [3]:
humidity = humidity_df[['datetime', 'Minneapolis']]
pressure = pressure_df[['datetime', 'Minneapolis']]
temperature = temperature_df[['datetime', 'Minneapolis']]
weather_description = weather_description_df[['datetime', 'Minneapolis']]
wind_direction = wind_direction_df[['datetime', 'Minneapolis']]
wind_speed = wind_speed_df[['datetime', 'Minneapolis']]

In [4]:
wind_speed.head()

              datetime  Minneapolis
0  2012-10-01 12:00:00          NaN
1  2012-10-01 13:00:00          3.0
2  2012-10-01 14:00:00          3.0
3  2012-10-01 15:00:00          3.0
4  2012-10-01 16:00:00          3.0

In [5]:
weather_df = (weather_description.merge(humidity, on = 'datetime')
             .merge(pressure, on = 'datetime')
             .merge(temperature, on = 'datetime')
             .merge(wind_direction, on = 'datetime')
             .merge(wind_speed, on = 'datetime')
             )
weather_df.columns = ['Datetime', 'Description', 'Humidity', 'Pressure', 'Temperature', 'Wind_Direction', 'Wind_Speed'] 
weather_df.head()

,Datetime,Description,Humidity,Pressure,Temperature,Wind_Direction,Wind_Speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,broken clouds,67.0,1012.0,286.870000,330.0,3.0
2,2012-10-01 14:00:00,broken clouds,66.0,1012.0,286.893636,329.0,3.0
3,2012-10-01 15:00:00,broken clouds,66.0,1012.0,286.951401,329.0,3.0
4,2012-10-01 16:00:00,broken clouds,65.0,1012.0,287.009166,329.0,3.0